@model IEnumerable<ws_SushiBar.ViewModels.Product>
<div class="row">
    @foreach (var item in Model)
    {
        <div class="card-deck col-sx p-2">
            <div class="card" style="width: 18rem;">
                <!-- Шапка карточки -->
                <div class="card-header">
                    <h5 class="card-title text-center font-weight-bold">@item.Name</h5>
                </div>
                <!-- Шапка карточки -->
                <!-- Тело карточки -->
                <div class="card-body">
                    <img class="card-img-top" src="@item.Img" alt="@item.Name"><hr />
                    <p class="card-text">@item.Description</p>
                </div>
                <!-- Тело карточки -->
                <!-- Подвал карточки -->
                <div class="card-footer">
                    <p class="text-font-small font-weight-bold">Цена: @item.Price.ToString("c") </p>
                </div>
                <!-- Подвал карточки -->
            </div>
        </div>
    }
</div>



<div class="row">
    <div class="col-4">
        <div class="list-group" id="list-tab" role="tablist">
            <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">Home</a>
            <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">Profile</a>
            <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="#list-messages" role="tab" aria-controls="messages">Messages</a>
            <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings">Settings</a>
        </div>
    </div>
    <div class="col-8">
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">...</div>
            <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">...</div>
            <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">...</div>
            <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">...</div>
        </div>
    </div>
</div>